.vs/TextMatch.Website/v14/.suo
.vs/config/applicationhost.config
.vs/restore.dg
src/TextMatch.Website/bin/Debug/netcoreapp1.0/TextMatch.Website.deps.json
src/TextMatch.Website/bin/Debug/netcoreapp1.0/TextMatch.Website.dll
src/TextMatch.Website/bin/Debug/netcoreapp1.0/TextMatch.Website.pdb
src/TextMatch.Website/bin/Debug/netcoreapp1.0/TextMatch.Website.runtimeconfig.dev.json
src/TextMatch.Website/bin/Debug/netcoreapp1.0/TextMatch.Website.runtimeconfig.json
src/TextMatch.Website/obj/Debug/netcoreapp1.0/.IncrementalCache
src/TextMatch.Website/obj/Debug/netcoreapp1.0/.SDKVersion
src/TextMatch.Website/obj/Debug/netcoreapp1.0/TextMatch.Websitedotnet-compile.deps.json
src/TextMatch.Website/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/TextMatch.Website/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/TextMatch.Website/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
